<div class="sign-up-form">
  <div class="input-field">
    <div class="email">Email:</div>
    <input class="email-input" type="email" [value]="email">
  </div>
  <div class="input-field">
    <div class="username">User Name:</div>
    <input class="username-input" type="text" [value]="userName">
  </div>
  <div class="input-field">
    <div class="password">Password:</div>
    <input class="password-input" type="password" [value]="password">
  </div>
  <a class="login-button" routerLink="../sign-in">I have account</a>
  <button class="sign-up-button" routerLink="../../main-app/user-request">Sign-up</button>
</div>

