<div class="sign-up-form">
  <div class="input-field">
    <div class="email">Email:</div>
    <input class="email-input" type="email" [formControl]="email">
  </div>
  <div class="input-field">
    <div class="username">User Name:</div>
    <input class="username-input" type="text" [formControl]="userName">
  </div>
  <div class="input-field">
    <div class="password">Password:</div>
    <input class="password-input" type="password" [formControl]="password">
  </div>
  <a class="login-button" routerLink="../sign-in">I have account</a>
  <button class="sign-up-button" (click)="signUp()">Sign-up</button>
  <span class="error">{{error}}</span>
</div>

